body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 255, 255);
    box-shadow: 0px 4px 5px rgb(56, 56, 56);
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
}


p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.question{
    margin-bottom: 10px;
}

.btn{
    width: 90%;
    justify-self: center;
    height: 30px;
    color: azure;
    background-color: rgba(0, 119, 255, 0.922);
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    display:block;
    align-self: center;
}

.view{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(46, 46, 46);
}