body{
    background-color: rgb(240,240,240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(76,175,80);
}

header>h1{
    color: white;
}
header>p{
    color:rgb(255,215,0);
}

section{
    background-color: white;
    color: rgb(51,51,51);
}

#one>h2{
    color: rgb(0, 123, 255);
}

#one>h3{
    color: rgb(255, 105, 180);
}

#second>h2{
    color: rgb(255, 69, 0);
}
#second>h3{
    color: rgb(255, 105, 180);
}

#three>h2{
    color: rgb(138, 43, 226);
}

footer{
    background-color: #837f7e;
}


thead>tr{
    background-color: rgb(0, 157, 255);
    color: white;
}

table{
    width: 100%;
}