@import "tailwindcss";
@plugin "daisyui";

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeSlideUp 0.6s ease-out;
}

.fade-1 { animation: fadeSlideUp 0.6s ease-out 0.1s both; }
.fade-2 { animation: fadeSlideUp 0.6s ease-out 0.2s both; }
.fade-3 { animation: fadeSlideUp 0.6s ease-out 0.3s both; }
.fade-4 { animation: fadeSlideUp 0.6s ease-out 0.4s both; }
.fade-5 { animation: fadeSlideUp 0.6s ease-out 0.5s both; }

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-bgShift {
  animation: bgShift 12s ease-in-out infinite alternate;
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fadeSlideDown 0.7s ease-out;
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.05); }
  66% { transform: translate(-20px, 20px) scale(0.95); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 12s infinite ease-in-out;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}


@keyframes fadeSlideRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-right {
  animation: fadeSlideRight 0.8s ease-out;
}


@keyframes fadeSlideLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fadeSlideLeft 0.8s ease-out;
}
