*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

}


.container{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3,1fr);
   
}


.box{
    height: 150px;
    width: 150px;
    background-color: rgb(63, 105, 182);
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid black;
    color: rgb(45, 4, 4);

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}


.box1:hover{
    transform: rotateX(60deg);
}

.box2:hover{
    transform: rotateY(60deg);
}

.box3:hover{
    transform: rotateZ(60deg);
}

.box4:hover{
    transform:translateX(100px);
}

.box5:hover{
    transform:translateY(100px);
}

.box6:hover{
    transform:perspective(250px)  translateZ(100px);
}

.box7:hover{
    transform: scaleX(1.5);
}


.box8:hover{
    transform: scaleY(1.5);
}

.box9:hover{
    transform: perspective(250px) rotateY(45deg) scaleZ(1.5);
}