*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    margin: 1rem; 
    border: 3px solid rgb(39, 37, 37);
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.box1{
    background-color: coral;
}

.box2{
    background-color: cornflowerblue;
}

.box1:hover{
    transform: translate(300px);
    transform: scale(2,1.5);
    transform: skew(-20deg);
    transform: rotate(360deg);

    transform-origin:bottom right;   /*this fix the origin around which the transform property works default is center*/

}

.box2:hover{
    transform: translate(-300px,200px);
    transform: scale(2);         /*scale in both direction in 2x*/
    transform: rotate(-120deg);

    transform: skew(40deg);

    /*now all properties in one go*/
    transform: translate(100px,50px) scale(1.5) rotate(360deg) skew(60deg);
}





/*transform:translate(X,Y)  moves element in that direction according to pixel values*/

/*transform:scale(X,Y)    resize the element in that direction according to values given */

/*transform:rotate(deg)   rotate the box in degrees for both + and - values*/


/*transform:skew(deg)     tilt the box into degree you specify...*/