        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        #root{
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: rgb(37, 111, 249);
            gap: 20px;
        }
        .abc{
            color: rgb(32, 32, 32);
            padding: 20px;
            margin: 20px;
           background-color: aliceblue;
            
            border-radius: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
        }

        Add{
            margin: 20px ;
        }
        button{
            margin: 7px;
            background-color: rgb(0, 77, 17);
            color: rgb(255, 255, 255);
            border-radius: 5px;
            border: none;
            width: 60px;
            height: 40px;
        }
   