.container{
    background-color: aquamarine;
    height: 700px;
    width: 700px;
    padding: 10px;
}

.box{
    height: 170px;
    width: 170px;
    background-color: darkcyan;
    margin: 10px;
    box-shadow: 5px 5px 3px 5px black;
}

.box1{
    margin: 10px;
    margin-top: 100px;
    height: 150px;
    width: 150px;
    background-color: deeppink;

    box-shadow: inset 0px 0px 5px 2px rgb(42, 18, 130);    /*inset means border grows inside the box*/

    /* transition-property:calc(background-color); */
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1ms; */

    transition: all 2s ease-in-out 1ms;
}

.box1:hover{
    background-color: darkred;
    width: 200px;
}


/* ---------------- BOX-SHADOW ----------------
   Syntax: box-shadow: x-offset y-offset blur spread color inset;

   x-offset → +right, -left
   y-offset → +down, -up
   blur     → blur size (0 = sharp)
   spread   → grow/shrink shadow
   color    → shadow color
   inset    → inner shadow
------------------------------------------------
   Examples:
   box-shadow: 10px 10px;              → basic black shadow
   box-shadow: 5px 5px 15px gray;      → soft gray shadow
   box-shadow: 0 0 20px red;           → glowing red
   box-shadow: inset 0 0 10px #0008;   → inner shadow
   box-shadow: 3px 3px 6px 2px blue;   → spread outward
*/
