*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 38, 38);
    color: white;
}

.box{
    padding: 15px;
    background-color: rgb(72, 71, 73);
    border-radius: 10px;
     border: 0.8px solid rgb(0, 149, 213);
    text-align: center;
    
    width: 320px;
}

button{
    border:none;
    background-color: rgb(7, 112, 7);
    color: whitesmoke;
    margin: 5px;
    margin-right: 5px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    width: 40%;
    transition: transform 0.3s ease;
}

button:hover{
    background-color: rgb(1, 129, 1);
}

button:active{
    transform: translateY(5px);
    box-shadow: 0 4px 10px rgba(0, 80, 0, 0.35);
}

h1{
    background-color: rgb(38, 38, 38);
    color: white;
    border-radius: 10px;
   
    width: 100%;
    height: 43px;
    margin-bottom: 15px;
}