body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(66, 70, 74);
}

button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

#red{
    background-color: rgb(255, 86, 86);
}

#green{
    background-color: rgb(0, 161, 0);
}

#blue{
    background-color: rgb(62, 62, 252);
}

#yellow{
    background-color: yellow;
}

h1{
    font-size: 30px;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}