body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content:center;
    align-items: center;
    
}

.container{
    padding: 20px;
    background-color: #1f2a38 ;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 180, 216, 0.4);
    border-radius: 10px;
    color: #00b4d8;
}



.score{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 5px;
    /* justify-content: center;
    align-items: center; */
}

.player{
    box-shadow: 0 3px 8px rgba(0, 180, 216, 0.4);
    height: 20px;
    text-align: center;
    
    background-color:#152a3a;
    color: #00b4d8;
    font-weight: bold;
    border-radius: 5px;
}

.computer{
    height: 20px;
    text-align: center;
     font-weight: bold;
    border-radius: 5px;
    color: #ff6b6b;
    background-color: #3a1f1f;
    box-shadow: 0 3px 8px rgba(0, 180, 216, 0.4);
}

.buttons{
    box-shadow: 0px 3px 5px rgb(58, 58, 58);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px;
    margin-top: 10px;
    border-radius: 10px;
    
}

button{
    margin-top: 20px;
    height: 25px;
    
    color:whitesmoke;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 70px;
}

#compchoice,#winner{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #00d1bfc4; /* amber/yellow */
    font-weight: bold;
    font-size: 18px;
}

img{
    /* width: 30px;
    height: 30px; */
    height: 70px;
    width: auto;
}

.choice{
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.choice:hover{
    background-color: rgba(0, 180, 216, 0.2);
}

h1,p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00b4d8;
}




.abc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#a{
    background-color: #00b4d8d0;
}
#b{
    background-color: #ff6b6bd6;
}

#a:hover{
     background-color: #007992f9;
}

#b:hover{
    background-color: #ff4949d8;
}