body{
    background-color: rgb(51, 51, 51);
    
}

#time{
    font-size: 150px;
    color: white;
    display: flex;
    /* background-color: #fff; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}