body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
    display: flex;
    flex-direction: column; /* stack h1 above the form */
    justify-content: space-between; /* push h1 to top and form to bottom */
    align-items: stretch;
    padding: 20px;
    background-color: aliceblue;
    /* width: 360px; limit width so layout is nicer */
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(75,75,75,0.15);
}
h1{
    padding: 8px 0;
    margin: 0 0 12px 0; /* keep heading at top, small bottom gap */
    text-align: center;
    color: rgb(62, 64, 65);
}
form{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    padding-bottom: 2px;
}

label{
    margin: 7px;
    display: block;
    /* font-weight: 500; */
    margin-top: 7px;
    
}



input{
    margin: 0px 7px 7px 7px;
    display: block;
    width: 85%;
   
}


button{
    width: 88%;
    background-color: rgb(0, 94, 255);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    align-self: flex-start;
    display: block;
    margin-top: 20px;
    border: 1px solid blue;
    height: 25px;
    margin-left: 7px;
    /* box-sizing: initial; */
}