body{
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom , rgb(12, 255, 125) ,rgb(5, 247, 158));

}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(91, 92, 97);
}

h1,h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(67, 69, 71);
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    padding: 10px;
    margin-bottom: 25px;
}

.cell{
    height: 70px;
    width: 70px;
    background-color: rgb(250, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    /* text-align: center; */
    font-size: 60px;
    font-weight: bold;
    color: rgb(67, 69, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cell:hover{
    background-color: rgb(235, 235, 235);
}

#restart{
   height: 30px;
    width:130px;
    background-color: rgb(46, 139, 87);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

#restart:hover{
    background-color: rgb(40, 171, 97);
}

img{
    size: auto;
    border-bottom: 2px solid transparent; /* no visible border initially */
    border-radius: 0px;
    transition: border 1s ease;
}

@keyframes borderrun {
  0% {
    /* border: 2px solid transparent; */
    
    transform: rotateY(0deg);
  }
  100% {
    /* border: 2px solid dodgerblue; */
    
    transform: rotateY(360deg);
  }
}


/* img:hover{
    transform: scale(1.1);
} */
#p1,#p2{
    text-align: center;
    border-radius: 10px;
    /* background-color:  rgb(36, 214, 113); */
}

#winning-msg{
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(67, 69, 71);
    
}

