h1{
    color: rgb(113, 104, 104);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    border-style: solid;   /*To add border to the element tag*/
    border-width: 3px;      /*adjust the width of border*/
    border-color: blue;    /*color of border*/
    border-radius: 5px;  /*set smoother corners of border*/
    padding: 10px; /*it adjust space between content in tag and border*/

    width: 50%;
    height: 20%;

    margin: 100px;
}

h2{
    background-color: cadetblue;
    color: rgb(253, 253, 253);
    width: 50vw;
    border-style: dashed;
    border-color: black;
    border-width: 2px;

    border-radius: 5px;

    padding: 10px;

    margin: 30px;
}

/*sortcut for border*/
ul{
    background-color: pink;
    color: rgb(0, 59, 253);

    /*border : width color style*/
    border: 5px yellowgreen solid;

    border-left-width: 15px;
    border-radius: 5px;
    padding: 10px;

    margin: 30px;

}


p{
    background-color: bisque;
    border-left-width: 20px;
    border-color: aqua;
    border-style: solid;
}


/* when we give two values to border width then                     (and all rules are same for pedding also)
first value will assign to top and bottom of element 
and second value will be assinged to left and right side*/

/*and if you give three values into width then they respectively assinged to
first-->top        second-->left and right       third-->bottom*/


/*for four values 
first-->top   second->right   third-->bottom   fourth-->left*/

p{
    border-width: 10px 20px;
    padding: 10px 20px;



    margin: 20px 30px 40px;
}

ul{
    border-width: 10px 20px 30px;

    padding: 10px 20px 25px 20px;
}






/*

there is attributes like 
border-left
border-right
border-top
border-bottom


same for padding

padding-left
padding-right
padding-top
padding-bottom


same for margin     (margin is the outside space reserved for element to avoid overlapping of tags)

margin-left
margin-right
margin-top
margin-bottom


*/