*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 2rem;
}

.box{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: olivedrab;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    animation-name: boxing;

    /* position: relative; */
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

@keyframes boxng {

    from{
        /* top:0px;
        left: 0px; */
        transform: translate(0px);
    }

    to{
        /* top: 0px;
        left: 1200px; */
        transform: translate(1200px);
    }
}

@keyframes boxing {
    0%{
        transform: translate(0vw,0vh);
        
    }
    25%{
        transform: translate(40vw,-40vh);
        
    }
    50%{
        transform: translate(80vw,0vh);
        
    }
    75%{
        transform: translate(40vw,40vh);
        
    }
    100%{
        transform: translate(0vw,0vh);
        
    }
    
}

