*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 165, 125);
    color: white;
}

#root{
    background-color: azure;
    color: rgb(235, 240, 250);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#root h1{
    margin-bottom: 20px;
    background-color: rgb(32, 175, 236);
    border-radius: 5px;
    padding: 5px;
    
}

.inputs{
    display: flex;
    justify-content:space-between;
    padding: 5px;
   background-color: rgb(20, 198, 23);
   border-radius: 5px;
   color: white;
   font-size: 17px;
   font-weight: bold;
}

label{
    margin-right: 12px;
}

button{
    margin-top: 20px;
    width: 90px;
    height: 40px;
    background-color: rgb(7, 82, 161);
    color: azure;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    transition: transform 0.4s ease;
}

button:active{
    transform: translateY(5px);
    box-shadow: 1px 1px 2px rgb(43, 44, 44);
}

p{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(27, 27, 27);
}