*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}


.container{
    margin: 20px;
    height: 80vh;
    width: 80vw;
    background-color: darkorchid;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.box{
    margin: 5px;
}
.one{
    background-color: green;
    grid-row: 1/4;
    
}

.two{
    background-color: green;
    grid-column: 2/4;

}

.three,.five,.six{
    background-color: red;
}

.four,.seven{
    background-color: yellow;
}

.eight{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: green;
}