*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width:100%;
    background-color: aquamarine;
    display: grid;
    /* grid-template-columns:auto; */
    /* grid-template-rows:auto; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr;  it is better to create layout using only row or column at once rest will be 
    adjust by grid automatically*/   
    padding: 1rem;
    /* row-gap: 1rem;
    column-gap: 1rem; */
    gap: 1rem;
}

.box{
    background-color: cornflowerblue;
    border: 3px black solid;
    margin: 5px;
}

.header,.footer{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}

.sidebar{
    grid-row: 2/4;
}

.box3{
    grid-column: 2/4;
}