*{
    margin: 0; /*to avoid and delete the default margin of the browser*/
}


.circle{
    background-color: red;
    height: 50vh;
    width: 50vh;

    border-radius: 50%;
    margin: auto;        /*makes automatically on center*/
    /*horizontally chizo ko center par la deta hai*/
    margin-top: 20vh;
}